<ion-view view-title="Account">
  <ion-content id="account-page" class="padding">

    <div class="list card">
      <div class="item item-divider">Statistics</div>
      <div class="item item-body">
        <div>
          <span class="account-left">Number of Button Presses</span>
          <span class="account-right">8764</span>
        </div>
      </div>
      <div class="item item-body">
        <div>
          <span class="account-left">Average Button Presses per Day</span>
          <span class="account-right">72</span>
        </div>
      </div>
      <div class="item item-body">
        <div>
          <span class="account-left">Number of Trophies</span>
          <span class="account-right">14</span>
        </div>
      </div>
      <div class="item item-body">
        <div>
          <span class="account-left">Distribution of Trophies</span>
          <span class="account-right">1<i class="icon ion-trophy gold"></i> 3<i class="icon ion-trophy silver"></i> 10 <i class="icon ion-trophy bronze"></i></span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
