<ion-view view-title="Settings">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Your info</div>
      <div class="item item-body">
        <div>
          <span class="account-left">Name</span>
          <span class="account-right">Harifurifa Bubblegum</span>
        </div>
      </div>
      <div class="item item-body">
        <div>
          <span class="account-left">Email</span>
          <span class="account-right">hahaha@test.com</span>
        </div>
      </div>
    <div class="item item-body">
      <div>
        <span class="account-left">Change Password</span>
        <span class="account-right"><i class="icon ion-chevron-right"></i></span>
      </div>
    </div>
  </div>

  <div id="settings-toggles"class="list card">
    <div class="item item-divider">Settings</div>
    <div class="item item-body">
      <div>
        <span class="account-left">Setting 1</span>
        <span class="account-right"><ion-toggle toggle-class="toggle-positive"></ion-toggle></span>
      </div>
    </div>
    <div class="item item-body">
      <div>
        <span class="account-left">Setting 2</span>
        <span class="account-right"><ion-toggle toggle-class="toggle-positive"></ion-toggle></span>
      </div>
    </div>
  <div class="item item-body">
    <div>
      <span class="account-left">Setting 3</span>
      <span class="account-right"><ion-toggle toggle-class="toggle-positive"></ion-toggle></span>
    </div>
  </div>
</div>
  </ion-content>
</ion-view>
