
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Button" icon-off="ion-android-radio-button-on" icon-on="ion-android-radio-button-on" href="#/tab/button">
    <ion-nav-view name="tab-button"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Trophies" icon-off="ion-trophy" icon-on="ion-trophy" href="#/tab/trophies">
    <ion-nav-view name="tab-trophies"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Statistics" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/statistics">
    <ion-nav-view name="tab-statistics"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Rankings" icon-off="ion-arrow-graph-up-right" icon-on="ion-arrow-graph-up-right" href="#/tab/rankings">
    <ion-nav-view name="tab-rankings"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-off="ion-android-settings" icon-on="ion-android-settings" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
